@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import "tailwindcss";

@theme {
  --font-plus-jakarta-sans: "Plus Jakarta Sans", "serif";
  --color-lime-1: #d8db2f;
  --color-red-1: #d73328;
  --color-slate-900-1: #133041;
  --color-slate-700-1: #4e6e7e;
  --color-slate-500-1: #6b94a8;
  --color-slate-300-1: #9abed5;
  --color-slate-100-1: #e4f4fd;
  --color-hr: rgba(154, 190, 213, 0.25);
  --shadow-box: 0px 32px 64px 0px rgba(19, 48, 65, 0.1);
}

// hide number input arrows
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.input-error {
  background-color: #d73328;
}
.prefix-error {
  background-color: #d73328;
  color: white;
}
